nav {
    display: flex;
    gap: 1rem;
    height: 3rem;
    margin-block: 1rem;
    padding-inline: 1rem;
    margin-inline: auto;
    background-color: rgba(0, 0, 0, .1);
}

nav a {
    line-height: 3rem;
    white-space: nowrap;
}